@import "/src/app/scss/bundle.scss";

.bullet-point {
  display: flex;
  @include gap(16px);

  flex: 1;
}

.bullet-point__circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background: $color-white;
  border-radius: 50%;

  flex-shrink: 0;
}

.bullet-point__container {
  display: grid;
  align-content: baseline;

  @include row-gap(1em);
}

.bullet-point__number {
  position: relative;
  top: 2px;

  color: $color-black-main;

  @include H4Bold;
}

.bullet-point__title {
  @include H4Medium;
  @include for-size(big-phone) {
    @include H4Medium(20px, 24px);
  }
}

.bullet-point__desc {
  color: $color-gray-50;
  @include Text2Regular;

  button {
    color: $color-gray-10;
    text-decoration: underline;
  }
}
