@import "/src/app/scss/bundle.scss";

.tag {
  flex-shrink: 0;

  padding: 0.5em 1em;
  background-color: $color-gray-100;
  border-radius: 12px;

  color: $color-white;
  white-space: nowrap;
  transition: 200ms ease background-color;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-90;
  }

  &:active {
    opacity: 0.7;
  }

  &:not(.no-hash)::before {
    content: "#";
    color: $color-gray-50;
  }
  &.search {
    margin-right: 5px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}

a.tag {
  text-decoration: none;
}

.tag__text {
  @include TagsRegular;
}

.category {
  display: flex;
  align-items: center;
  background-color: $color-gray-30;
  color: $color-black-main;

  &:hover {
    background-color: $color-gray-40;
  }
}
