@import "~app/assets/scss/bundle.scss";

.mentor-search {}

.mentor-search__cover {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.75);
	pointer-events: none;
	transition: 200ms ease opacity;
	z-index: 1;

	&:not(&--active) {
		opacity: 0;
	}
}

.mentor-search__container {
	display: flex;
	gap: 1em;

	width: 100%;
	margin: 0 auto;
	padding: 2em;
	background: $color-black-90;
	border-radius: 3em;
	z-index: 1;

	@include Mobile {
		display: grid;
		padding: 1.5em;

		.button {
			background: $color-green;

			.button__text {
				color: $color-black-main;
				font-weight: bold;
			}
		}
	}
}

.mentor-search__search {
	display: flex;
	align-items: center;
	gap: 0.5em;

	flex: 1;

	padding: 0.75em 1em;
	background: white;
	border-radius: 1.5em;
	transition: 200ms ease box-shadow;

	&--focused {
		box-shadow: 0 0 0 3px rgba($color-green, $alpha: 0.5);
	}

	@include Mobile {
		flex-wrap: wrap;
		min-height: 3.5em;
	}
}

.mentor-search__input {
	flex: 1;
	color: $color-gray-100;

	&::placeholder {
		color: $color-gray-80;
	}

	&:first-child {
		padding-left: 0.5em;
	}
}

.mentor-search__icon {
	margin-left: auto;
	color: $color-gray-50;

	&--chevron {
		--icon-size: 0.75em;
	}

	&--cross {
		--icon-size: 1.25em;

		padding: 0.25em;
		cursor: pointer;
	}
}

.mentor-search__tags {
	overflow: hidden;
}

.mentor-search__shadow {
	position: absolute;
	top: 0;
	width: 5em;
	height: 100%;
	background: linear-gradient(90deg, $color-black-main 0%, transparent 100%);
	cursor: e-resize;

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
		transform: rotate(180deg);
	}
}

.mentor-search__inner-tags {
	display: flex;
	flex-wrap: nowrap;
	gap: 0.5em;
	overflow: hidden;
}

/* Mentor Search List */

.mentor-search-list {
	$height: calc(var(--height) * 1px);

	position: absolute;
	top: calc(100% + 0.75em);
	left: 0;
	right: 0;

	display: flex;

	max-height: $height;
	background: $color-white;
	border-radius: 1.5em;

	box-shadow: 0 0 0 3px rgba($color-green, $alpha: 0.5);
	transition: 200ms ease opacity, 200ms ease transform;
	z-index: 1;

	&:not(&--visible) {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-1em);
	}

	@include Mobile {
		display: grid;
	}
}

.mentor-search-list__container {
	display: grid;
	align-content: baseline;

	flex: 1;
	padding: 1em;

	&:not(:only-child) {
		border-right: 1px solid #D2D6DC;
	}

	overflow: auto;
	@include Scrollbar(0.75em, rgba($color-gray-90, 0.2));
}

.mentor-search-list__item {
	display: flex;
	align-items: center;
	gap: 0.75em;

	padding: 0.75em 1em;

	border-radius: 1em;
	color: $color-black-main;
	transition: 200ms ease background-color;
	cursor: pointer;

	&:hover,
	&--active {
		background: $color-gray-30;
	}
}

.mentor-search-list__tags {
	display: grid;
	align-content: baseline;
	justify-items: flex-start;
	row-gap: 0.5em;

	min-width: 40%;
	padding: 0 1em;
	margin: 1em 0;

	overflow: auto;

	@include Scrollbar(0.75em, rgba($color-gray-90, 0.2));
}
