@import "~app/assets/scss/bundle.scss";

.mentor-search {
	&__cover {
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.75);
		pointer-events: none;
		transition: 200ms ease opacity;
		z-index: 1;
	
		&:not(&--active) {
			opacity: 0;
		}
	}

	&__container {
		display: flex;
		grid-gap: 12px;
		// @include gap(0.75em);

		width: 100%;
		margin: 0 auto;
		padding: 2em;
		background: $color-black-90;
		border-radius: 50px;
		z-index: 1;
		
		@include Mobile {
			display: grid;
			grid-gap: 8px;

			padding: 8px;
			
			border-radius: 35px;
		}
	}

	&__search {
		display: flex;
		align-items: center;
		// @include gap(0.5em);

		flex: 1;

		padding: 0.5em;
		padding-right: 1em;
		background: white;
		border-radius: 24px;
		transition: 200ms ease box-shadow;
		cursor: text;

		&:hover,
		&--focused {
			box-shadow: 0 0 0 3px rgba($color-green, $alpha: 0.5);
		}

		&--filled#{&}--focused {
			>.mentor-search-list__item,
			>.topic-tag {
				opacity: 0.5;
			}
		}

		@include for-size(big-phone-screen) {
			flex-wrap: wrap;
			min-height: 3.5em;
			border-radius: 24px;
		}
	}

	&__input {
		@include Text2Regular;

		flex: 1;
		color: $color-gray-100;

		&::placeholder {
			color: $color-gray-80;
			transition: 200ms ease color;
		}

		&--focus::placeholder {
			color: rgba($color-gray-90, 0.2);
		}

		&:first-child {
			padding-left: 1em;
		}
	}

	&__icon {
		--icon-size: 2.5em;

		padding: 0.825em;
		margin-left: auto;
		color: $color-gray-50;

		&--cross {
			cursor: pointer;
		}

		&--chevron {
			transition: 250ms ease transform;

			&--up {
				transform: rotateX(180deg);
			}
		}
	}

	&__tags {
		margin-top: 15px;
		overflow: hidden;
	}

	&__shadow {
		position: absolute;
		top: 0;
		width: 5em;
		height: 100%;
		background: linear-gradient(90deg, $color-black-main 0%, transparent 100%);
		// cursor: e-resize;

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
			transform: rotate(180deg);
		}
	}

	&__inner-tags {
		--sliding-interval: 6.6ms;
		--sliding-duration: calc(var(--inner-width) * var(--sliding-interval));

		display: flex;
		flex-wrap: nowrap;
		@include gap(0.5em);
		// overflow: hidden;

		animation: sliding linear infinite;
		animation-duration: var(--sliding-duration, 10s);

		&:hover {
			animation-play-state: paused;
		}

		@keyframes sliding {
			from {
				margin-left: 0;
			}

			to {
				margin-left: calc(var(--inner-width) / 2 * -1px);
			}
		}
	}
}