@import "~app/assets/scss/bundle.scss";

.mentor-search-list-item {
  position: relative;

  display: flex;
  align-items: center;
  @include gap(12px);

  border-radius: 16px;
  padding: 8px 16px;

  
  transition: 200ms ease background-color;
  cursor: pointer;

  &:hover {
    background: $color-gray-30;
  }

  @include Text2Medium;
  text-decoration: none;
  color: $color-black-main;

  & > span {
    position: relative;
    top: 1px;
  }

  & > img {
    height: 20px;
    width: 20px;
  }

  & > div {
    position: absolute;
    right: 16px;
    top: 0;

    height: 100%;

    & > svg {
      color: $color-gray-50;

      height: 100%;
      width: 16px;

      transform: rotate(-90deg);
    }
  }

  &--type--view-all {
    & > span {
      @include Text2Regular;
    }
  }

  &--state--selected {
    background: $color-gray-30;
  }

  &__icon {
    --icon-size: 25px;

    &--hidden {
      display: none;
    }
  }
}
