{
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "printWidth": 120,
        "trailingComma": "es5",
        "semi": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "printWidth": 66,
        "proseWrap": "preserve",
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
