@import "~app/assets/scss/bundle.scss";

// .react-json-editor-wrapper {}

.react-json-editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: 25vw;
  height: 100vh;

  z-index: 999;
}

.react-json-editor__editor {
  height: 100%;
}

.react-json-editor__toolbar {
  display: flex;
  align-items: center;
}