@import "~app/assets/scss/bundle.scss";

.button { 
	$class: &;

	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	
	--button-color: transparent;
	--button-outline-width: 0;
	--button-padding: 2em;

	display: flex;
	align-items: center;
	justify-content: center;

	@include gap(8px);

	padding: 1.125em 1.5em;
	background: var(--button-color);
	// border: 2px solid red;
	box-shadow: inset 0 0 0 var(--button-outline-width) var(--button-color);
	border-radius: 1.5em;

	transition: 200ms ease color, 200ms ease background-color, 200ms ease opacity, 200ms ease box-shadow;

	&:active {
		opacity: 0.7;
	}

	&:disabled {
		cursor: not-allowed;
	}

	&:hover:not(&--outline) {
		--button-color: #{rgba($color-gray-10, 0.1)};
	}

	&--outline {
		--button-outline-width: 2px;
		--button-color: #{rgba($color-gray-10, 0.1)};

		background: unset;

		&:hover {
			--button-outline-width: 4px;
		}
	}

	&--outline:not(&--white, &--green, &--violet, &--dark) {
		&:hover {
			--button-color:#{rgba(white, 0.85)};
		}
	}

	&--green {
		--button-color: #{$color-green};

	}

	&--green:not(&--outline) {
		&:hover {
			--button-color: #{rgba($color-green, 0.85)};
		}

		.button__text {
			color: $color-black-main;
			font-weight: 500;
		}
	}

	&--violet {
		--button-color: #{$color-violet};
	}

	&--violet:not(&--outline) {
		&:hover {
			--button-color: #{rgba($color-violet, 0.85)};
		}
	}

	&--white {
		--button-color: #{$color-gray-10};

		.button__text {
			color: #{$color-black-main};
			font-weight: 600;
		}

		.button__icon {
			color: #{$color-gray-80};
		}
	}

	// If is `&--white` and `&--outline`
	&--white#{&}--outline {

		box-shadow: inset 0 0 0 2px #EEF2F7;

		&:hover {
			box-shadow: inset 0 0 0 2px $color-gray-80;
		}
	}

	&--white:not(&--outline) {
		&:hover {
			--button-color: #{rgba(white, 0.85)};
		}
	}

	&--dark {
		--button-color: #{$color-black-main};
	}

	&--dark:not(&--outline) {
		&:hover {
			--button-color: #{rgba($color-black-main, 0.85)};
		}
	}


	&--little {
		border-radius: 20px;
		padding: 12px 16px;

		#{$class}__text {
			@include Text2Regular;
		}
	}

	&--small {
		padding: 12px 20px;
		border-radius: 20px;

		#{$class}__text {
			@include Text2Regular;
		}
	}

	&--big {
		padding: 16px 32px;
		border-radius: 24px;

		#{$class}__text {
			position: relative;
			top: 2px; 

			@include TextMedium;
		}
	}

	&--biggest {
		padding: 24px 16px;
		border-radius: 32px;

		#{$class}__text {
			position: relative;
			top: 2px; 

			@include TextBold;
		}
	}

	&:not(&--pending) {
		.button__loader {
			opacity: 0;
			pointer-events: none;
		}
	}

	&--icon-only {
		padding: unset;
	}

	&--icon-only:not(&--little) {
		border-radius: 1.5em;
	}

	&:not(&--icon-only) {
		.button__icon {
			padding: unset;
		}
	}
}

a.button {
	text-decoration: none;
}

.button__text {
	color: white;
	@include TextMedium();
}


.button__icon {
	display: grid;
	padding: 1.5em;

	.icon {
		transition: 200ms ease transform;
	}

	&--little {
		--icon-size: 16px;
		padding: 12px;
	}

	&--small {
		padding: 1.25em;
	}

	&--big {
		padding: 2em;
	}
}

.button__loader {
	position: absolute;
	inset: 0;

	transition: 200ms ease opacity;

	display: grid;
	background: rgba($color-dark, 0.5);
	border-radius: inherit;
}