@import "/src/app/assets/scss/bundle.scss";

.info-section {
	padding: 56px 80px;
	background: $color-white;
	border-radius: 70px;

	&--1 {
		background: #151618;
	}

	&--2 {
		background: $color-violet;
	}

	&--3 {
		background: $color-black-90;
		box-shadow: 0px 2px 8px rgba($color-green, 0.1), 0px 8px 30px rgba($color-green, 0.2), 0px 8px 200px rgba($color-green, 0.4);
	}

	&--flex {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include gap(32px);
	}

	&--grid {
		display: grid;
		@include row-gap(1em);
	}

	@include for-size(big-phone-screen) {
		display: grid;

		padding: 36px;

		border-radius: 50px;
	}
}

.info-section__header {
	display: grid;
	@include row-gap(16px);
}

.info-section__title {
	@include H3Bold;
	@include for-size (big-phone-screen) {
		@include H3Bold(24px);
	}

	em {
		color: $color-green;
	}
}

.info-section__desc {
	color: $color-gray-10;
	@include H4Regular;
	@include for-size (big-phone-screen) {
		@include H4Regular(20px);
	}
}

.info-section__content {
	flex-shrink: 0;
}
