@import "~app/assets/scss/bundle.scss";

.home-view {}

.home-view__header {
	display: grid;
	row-gap: 5em;

	@include WidthLimit;
}

.home-view__comment {
	@include WidthLimit;
	margin-top: 15em;
}

.home-view__slider {
	margin-top: 10em;
}

.home-view__help {
	@include WidthLimit;
	margin-top: 5em;
}

.home-view__how-it-works {
	@include WidthLimit;
	margin-top: 15em;
}

.home-view__helpful-creaty {
	@include WidthLimit;
	margin-top: 15em;
}

.home-view__faq {
	display: grid;
	row-gap: 3.25em;

	@include WidthLimit;
	margin-top: 15em;
}

.home-view__have-questions {
	@include WidthLimit;
	margin-top: 15em;
}

.home-view__become-mentor {
	@include WidthLimit;
	margin-top: 15em;
}

.home-view__mailing-subscribe {
	@include WidthLimit;
	margin-top: 15em;
}

/* Dynamic Primary Info */

.dynamic-primary-info {
	display: grid;
	row-gap: 2.5em;
	text-align: center;
}

.dynamic-primary-info__title {
	font-size: 4.5rem;
	color: $color-white;
	line-height: 1;
	white-space: pre-line;

	em {
		color: $color-green;

		&::after {
			content: "| ";
			color: rgba($color-green, $alpha: 0.3);
			animation: 1.2s ease-out flick infinite;
		}
	}
}

.dynamic-primary-info__desc {
	color: $color-gray-text;
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.25;

	em {
		color: $color-green;
	}
}
