@import "~app/assets/scss/bundle.scss";

.admin-view-layout {
	display: grid;
	gap: 1em;

	max-width: var(--admin-view-maxWidth, 1180px);
	margin: 0 auto;

	@include Tablet {
		max-width: 90vw;
	}
}

.admin-view-layout__title {}

.admin-view-layout__container {
	display: grid;
	gap: 1.5em;

	padding: 2em;

	background: $color-white;
	border-radius: 1.5em;

	color: $color-black-main;

	.heading {
		margin: 0.5em 0;
	}
}
