@import "/src/app/assets/scss/bundle.scss";

.popup-layout {
	display: grid;
	@include row-gap(20px);
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
	padding: 4em 4em 0;
	background: $color-white;
	border-radius: 2.5em;
	
	overflow: hidden;
	height: 90vh;
	width: 35vw;

	&__container {
		overflow: auto;
		padding-bottom: 2em;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
	
		margin-left: auto;
	}

	&__title {
		color: $color-black-main;

		em {
			color: $color-violet;
		}
	}
}
