@import "~app/assets/scss/bundle.scss";

.edit-avatar {
	$size: 15em;

	width: $size;
	height: $size;

	border: 1px solid $color-gray-40;
	border-radius: 50%;
	overflow: hidden;

	&--pending {
		border: 2px solid $color-blue;
	}
}

.edit-avatar__image {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.edit-avatar__cover {
	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background: linear-gradient(to bottom, $color-black-100, rgba($color-black-100, 0.6) 110%);
	transition: 350ms ease opacity;
	cursor: pointer;

	&:not(:hover) {
		opacity: 0;
	}
}

.edit-avatar__icon {
	--icon-size: 2.25em;
	color: $color-white;
}

input.edit-avatar__input {
	display: none;
}
