@import "/src/app/scss/bundle.scss";

.subscribe {
  display: grid;
  @include row-gap(16px);
  @include for-size(big-phone) {
    @include row-gap(24px);
  }
}

.subscribe__header {
  display: flex;
  align-items: flex-end;
  @include gap(16px);

  @include for-size(big-phone) {
    flex-direction: column;
    align-items: stretch;
    @include row-gap(16px);
  }
}

.subscribe__field {
  flex: 1;

  padding: 12px 0 10px;

  border-bottom: 1px solid rgba($color-gray-10, 0.2);
  transition: 200ms ease border-color;

  &:hover:not(&--red, &--dark),
  &:focus:not(&--red, &--dark) {
    border-color: $color-gray-10;
  }

  &--red {
    border-color: $color-red;
  }

  &--dark {
    border-color: rgba($color-gray-10, 0.1);
  }

  em {
    color: $color-green;
  }
}

.subscribe__input {
  width: 100%;
  color: $color-white;

  all: unset;

  position: relative;
  cursor: initial;
  outline: initial;

  @include Text2Regular;

  &::placeholder {
    color: $color-white;
    transition: 200ms ease color;
  }

  box-shadow: none;
  &:focus::placeholder {
    color: rgba($color-gray-10, 0.1);
    outline: 0;
    box-shadow: none !important;
  }

  &:focus {
    box-shadow: none;
  }
}

.subscribe__text {
  color: $color-gray-80;
  @include Caption;
  @include for-size(big-phone) {
    text-align: center;
  }
}
