@import "~app/assets/scss/bundle.scss";

.contact-form {
	display: grid;
}

.contact-form__inputs {
	display: grid;
	row-gap: 1.25em;
}

.contact-form__submit {
	margin-top: 3.5em;
}

.contact-form__terms {
	margin-top: 1em;

	color: $color-gray-80;
	font-size: 0.75rem;
	line-height: 1.35;
}

.contact-form__text {
	color: $color-black-main;
	font-size: 1.25rem;

	margin-bottom: 1em;

	em {
		color: $color-violet;
	}
}
