@import "~app/assets/scss/bundle.scss";

.mentors-view {
	display: grid;
	row-gap: 15em;

	@include WidthLimit;
}

.mentors-view__header {
	display: grid;
	row-gap: 1em;
}

.mentors-view__title {
	span.weak {
		color: $color-gray-50;
	}
}

.mentors-view__desc {
	color: $color-gray-50;
	@include Typography(1.125rem, 400, $color-white);
}

.mentors-view__container {
	display: grid;
	row-gap: 2.5em;
}
