@import "/src/app/scss/bundle.scss";

.auth-ddl {
  &__avatar {
    cursor: pointer;
    border-radius: 35%;
    object-fit: none !important;
    border: 2px solid #555863;

    &:hover {
      border: 2px solid white;
    }
    > img {
      width: 44px !important;
      height: 44px !important;
    }
  }

  &__ddl {
    .ant-dropdown-menu-item {
      padding: 10px !important;
    }
    ul {
      gap: 0 !important;
    }
  }
}
