.modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;

  &:not(&--active) {
    pointer-events: none;
  }

  &.modal--active {
    background: rgba(black, 0.7);
    backdrop-filter: blur(40px);
  }
}

.modal__container {
  max-height: calc(100vh - 40px);
  overflow: hidden;

  transition: 250ms ease background-color;
}

.modal__inner {
  cursor: initial;
  overflow: scroll;
  overscroll-behavior: contain;
  max-height: calc(100vh - 40px);
  display: grid;
  place-content: center;
  transform: translateY(100vh);
  transition: 250ms ease transform;

  .modal--active & {
    transform: translateY(0%);
  }

  & .popup-layout {
    max-height: calc(100vh - 40px);
    padding: 20px;
    &__container {
      padding: 0;
    }
  }
}
