@import "/src/app/scss/bundle.scss";

.dynamic-primary-info {
  // @include row-gap(2.5em);
  display: grid;
  grid-gap: 40px;
  text-align: center;

  @include Mobile {
    grid-gap: 6.5vw;
    text-align: left;
  }
}

.dynamic-primary-info__title {
  @include H1Bold();
  @include for-size(big-phone-screen) {
    @include H1Bold(40px, 40px);
  }

  align-content: flex-end;

  color: $color-white;
  line-height: 1;
  word-break: break-all;

  @include Mobile {
    height: 5em;
  }

  em {
    color: $color-green;

    &::after {
      content: "|";
      color: rgba($color-green, $alpha: 0.3);
      animation: 1.2s ease-out flick infinite;
    }

    @include Mobile {
      line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dynamic-primary-info__desc {
  @include H3Regular();
  @include for-size(big-phone-screen) {
    @include H3Regular(24px, 28px);
  }

  color: $color-gray-text;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.25;

  em {
    color: $color-green;
  }

  @include Mobile {
    font-size: 1.5rem;
  }
}
