@import "~app/assets/scss/bundle.scss";

.admin-topbar {
	display: flex;
	align-items: center;

	padding: 0.5em;
	@include WidthLimit;
	margin-bottom: 1em;
	background: $color-black-90;
	border-radius: 2.5em;
}

.admin-topbar {
	// background: ;
}

.admin-topbar__menu {
	display: flex;
	gap: 1em;

	margin-left: auto;
}



.admin-view {
	@include WidthLimit;
	padding: 1em;
	background: $color-white;
	border-radius: 1.5em;

	color: $color-black-main;
}

.admin-view__container {
	overflow: auto;
}

.admin-view__entries {
	gap: 1em;

	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--grid {
		display: grid;
	}
}

/* Editable Value */

.admin-editable-value {
	cursor: pointer;
}

.admin-editable-value__child {
	pointer-events: none;
}

.admin-editable-value__form {
	position: absolute;
	top: 1em;

	display: flex;
	gap: 1em;

	padding: 0.5em 1em;
	background: $color-gray-100;
	border: 2px solid $color-gray-80;
	border-radius: 2.5em;
	transition: 250ms ease opacity, 250ms ease transform;
	z-index: 2;

	&:not(&--expanded) {
		opacity: 0;
		transform: translateY(1em);
		pointer-events: none;
	}
}

.admin-editable-value__input {
	color: $color-white;
}

table.admin-view__table {
	overflow: auto;

	img {
		width: 3.5em;
		height: 3.5em;
		object-fit: cover;
		border-radius: 50%;
	}

	input {
		min-width: 5em;
	}

	section {
		display: flex;
		align-items: center;
		gap: 0.25em
	}

	th,
	td {
		min-width: 3.5em;
		white-space: nowrap;
	}
}
