@import "~app/assets/scss/bundle.scss";

.admin-topbar {
	display: flex;
	align-items: center;

	padding: 0.5em;
	@include WidthLimit;
	margin-bottom: 1em;
	background: $color-black-90;
	border-radius: 2.5em;
}

.admin-topbar {
	// background: ;
}

.admin-topbar__menu {
	display: flex;
	gap: 1em;

	margin-left: auto;
}



.admin-view {
	@include WidthLimit;
	padding: 1em;
	background: $color-white;
	border-radius: 1.5em;

	color: $color-black-main;

	input[type="checkbox"] {
		all: revert;
	}
}

.admin-view__entries {
	gap: 1em;

	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--grid {
		display: grid;
	}
}
