@import "~app/assets/scss/bundle.scss";

.how-it-works {
	display: grid;
	@include row-gap(5em);

	@include Mobile {
		@include row-gap(2.5em);
	}
}

.how-it-works__title {}

.how-it-works__points {
	display: flex;
	flex-wrap: wrap;
	@include gap(5em);

	@include Mobile {
		display: grid;
		@include gap(2.5em);
	}
}
