@import "~app/assets/scss/bundle.scss";

.mentor-cards {
	display: grid;
	row-gap: 2.5em;
}

.mentor-cards__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(23.75em, 1fr));
	justify-items: center;
	gap: 1.25em;
}

.mentor-cards__more {
	&:disabled {
		background: rgba($color-gray-80, 0.1);
	}
}

.mentor-cards__icon {
	&--spin {
		animation: 1s linear reverse infinite spin;
	}
}
