// For more colors use https://coolors.co/
$color-dark: black;
$color-white: white;

$color-gray: gray;
$color-gray-text: #aeabba;
$color-gray-10: #f3f6fb;
// $color-gray-20: #F3F6FB; // deprecated
// $color-gray-30: #eef2f7; // deprecated
$color-gray-30: #e8eef4;
// $color-gray-35: #e8eef4; // deprecated
$color-gray-40: #d7dae7;
$color-gray-50: #c1c4d1;
$color-gray-60: #a3a6b5;
$color-gray-70: #82848F;
$color-gray-80: #595f69;
$color-gray-90: #434752;
$color-gray-100: #272a30;

$color-black-3: #2c2e33;
$color-black-90: #131417;
$color-black-main: #070707;

$color-red: #ff3434;
$color-blue: #4eb4f9;
$color-green: #4df971;
$color-violet: #6610eb;
$color-google: #5285ec;
