// For more colors use https://coolors.co/
$color-dark: black;
$color-white: white;

$color-gray: gray;
$color-gray-text: #AEABBA;
$color-gray-10: #F3F6FB;
// $color-gray-20: #F3F6FB;
$color-gray-30: #EEF2F7;
$color-gray-35: #E8EEF4;
$color-gray-40: #c8cad3;
$color-gray-50: #C1C4D1;
$color-gray-60: #A3A6B5;
$color-gray-80: #595F69;
$color-gray-90: #434752;
$color-gray-100: #272A30;

$color-black-3: #2C2E33;
$color-black-90: #131417;
$color-black-100: #070707;
$color-black-main: $color-black-100;


$color-red: #FF3434;
$color-blue: #4eb4f9;
$color-green: #4DF971;
$color-violet: #6610EB;
$color-google: #5285EC;