@import "bundle";

// rewrite ant styles
.ant-modal-content {
  padding: 0 !important;
  contain: size !important;
}

.ant-btn.ant-btn-primary.ant-btn-sm {
  background-color: $color-black-main;
}

.ant-modal-mask {
  backdrop-filter: blur(10px);
}

.ant-modal-body {
  padding: 0 20px 20px 20px !important;
  max-height: calc(100vh - 40px) !important;
  overflow: hidden !important;

  & .popup-layout {
    max-height: calc(100vh - 40px);
  }
  &:is(>.select) {
    padding: 0 !important;
  }
}