@import "bundle";

// rewrite ant styles
.ant-modal-content {
  padding: 0 !important;
  contain: size !important;
}

.ant-btn.ant-btn-primary.ant-btn-sm {
  background-color: $color-black-main;
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.95) !important;
}
