@import "bundle";

.icon {
  $size: var(--icon-size, 16px);

  display: inline-block;
  width: $size;
  height: $size;
  vertical-align: middle;
  object-fit: contain;
}

/* Main */
main {
  overflow: hidden;
  padding: 0 30px;

  & > div {
    margin-top: 120px;

    @include for-size(big-phone-screen) {
      margin-top: 22vw;

      &.home-view {
        margin-top: 11vw;
      }
    }
  }
}

main:not(.home-view__slider) {
  @include Mobile {
    padding: 0 5vw;
  }
}
