@import "bundle";

* {
  box-sizing: border-box;
  position: relative; // who did this has to be beaten

  padding: 0;
  margin: 0;
}

#root {
  white-space: pre-line;
}

body {
  font: 16px/1 "Google Sans", Arial, sans-serif;
  color: $color-white;

  background: $color-black-main;
  margin: 0;
}

em {
  font-style: unset;
}

p {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &.ghost {
    position: absolute;
    inset: 0;
  }
}

button {
  cursor: pointer;
}

ul {
  display: grid;
  @include row-gap(8px);
  margin: unset;
  padding-left: 20px;
}

@keyframes flick {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
