@import "bundle";

// rewrite ant styles
.ant-modal-content {
  padding: 0 !important;
  contain: size !important;
}
:where(.css-dev-only-do-not-override-1siw2ks).ant-btn-primary {
  background-color: $color-black-100;
}
