@import "/src/app/assets/scss/bundle.scss";

.popup-layout {
  position: relative;

  display: grid;
  @include row-gap(8px);
  grid-template: auto 1fr / 1fr;

  max-height: 97vh;
  max-width: 480px;
  width: 35em;

  padding: 40px 40px 0;

  background: $color-white;
  border-radius: 40px;

  overflow: auto;
  @include ScrollbarHidden;

  &__container {
    padding-bottom: 24px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;

    margin-left: auto;
    & > .button {
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }

  &__title {
    color: $color-black-main;
    @include H3Bold();

    em {
      color: $color-violet;
    }
  }

  &__sub-title {
    color: $color-black-main;
    @include Text2();
  }

  &__shadow {
    box-shadow: 0px 2px 8px rgba(77, 249, 113, 0.1),
      0px 8px 30px rgba(77, 249, 113, 0.2),
      0px 8px 200px rgba(77, 249, 113, 0.4);
  }

  &__black {
    background-color: $color-black-90;
    color: $color-white;
  }
}
