@import "/src/app/scss/bundle.scss";

.mentor-card {
  display: flex;
  flex-direction: column;

  padding: 8px;
  background: $color-white;
  border-radius: 40px;

  &--center {
    text-align: center;
  }

  &__preview {
    position: relative;

    overflow: hidden;
    width: 100%;

    border-radius: 32px;
    padding-top: 78%;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    border-radius: inherit;
    object-fit: cover;
  }

  &__info {
    display: grid;
    @include row-gap(4px);
  }

  &__container {
    display: grid;
    @include row-gap(20px);
    padding: 20px;

    @include for-size(big-phone-screen) {
      @include gap(20px);
      padding: 24px 16px 36px;
    }
  }

  &__name {
    color: $color-black-main;
    display: flex;
    justify-content: center;
    @include H4Bold;

    @include for-size(big-phone-screen) {
      @include H4Bold(20px);
    }
  }

  &__flag {
    position: relative;
    top: -3px;

    height: 1.33em;
    width: auto;

    margin-left: 0.25em;
    vertical-align: bottom;
  }

  &__job {
    color: $color-gray-80;
    @include TextRegular;
    @include for-size(big-phone-screen) {
      @include TextRegular(16px);
    }

    em {
      color: $color-black-main;
      @include TextMedium;
      @include for-size(big-phone-screen) {
        @include TextMedium(16px);
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    @include gap(8px);

    @include for-size(big-phone-screen) {
      @include gap(8px);
    }
  }

  &__price {
    color: $color-gray-80;
    font-size: 1.5rem;

    em {
      color: $color-black-main;
      font-weight: bold;
    }
  }

  &__discounts {
    display: grid;
    @include row-gap(0.5em);
  }

  &__discount {
    color: $color-black-main;
    font-size: 1.125rem;

    em {
      color: $color-violet;
    }
  }

  /* Mentor Card Button */
  &-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px;
    padding-left: 32px;

    margin-top: auto;
    background: $color-gray-10;
    border-radius: inherit;
    transition: 200ms ease background-color;

    &:hover {
      background: $color-green;
    }
  }

  &-button__text {
    // Trouble with font layout
    position: relative;
    top: 2px;

    display: flex;
    @include gap(0.25em);

    color: $color-black-main;
    transition: 200ms ease opacity;

    @include TextRegular;

    .mentor-card-button:hover & {
      opacity: 0;
    }

    em {
      @include TextBold;
    }
  }

  &-button__icon {
    color: $color-gray-50;
    transition: 200ms ease color, 200ms ease transform;

    .mentor-card-button:hover & {
      color: $color-black-main;
      transform: translateX(0.5em);
    }
  }

  &-button__hover-text {
    position: absolute;
    color: $color-black-main;
    font-weight: bold;
    transition: 200ms ease opacity;

    &:not(.mentor-card-button:hover &) {
      opacity: 0;
      pointer-events: none;
    }
  }
}
