@import "~app/assets/scss/bundle.scss";

.help-social {
	display: flex;
	align-items: center;
	gap: 1em;
}

.help-social__text {
	color: rgba($color-white, 0.6);

	font-size: 0.75rem;
	line-height: 1.5;
	text-align: right;
	white-space: pre-line;
}

.help-social__splitter {
	width: 2px;
	height: 100%;
	background: rgba($color-white, 0.2);
}

.help-social__icon {
	width: 2.5em;
	height: 2.5em;
}
