@import "~app/assets/scss/bundle.scss";

.help-social {
	display: flex;
	gap: 1em;
}

.help-social__text {
	align-self: center;
	color: rgba($color-white, 0.6);

	font-size: 0.75rem;
	line-height: 1.5;
	text-align: right;
	white-space: pre-line;

	@include Mobile {
		display: none;
	}
}

.help-social__splitter {
	width: 2px;
	background: rgba($color-white, 0.2);

	@include Mobile {
		display: none;
	}
}

.help-social__icon {
	width: 3.5em;
	height: 3.5em;
}
