@import "/src/app/scss/bundle.scss";

.home-view {
  &__title {
    @include H2Bold;
    @include for-size(big-phone-screen) {
      @include H2Bold(32px);
    }
  }

  &__header {
    display: grid;
    @include row-gap(0);
    @include WidthLimit;

    @include Mobile {
      @include row-gap(0);
    }
  }

  &__comment {
    @include WidthLimit;
    margin-top: 240px;
    @include for-size(big-phone-screen) {
      margin-top: 80px;
    }
  }

  &__slider {
    margin-top: 160px;
    @include for-size(big-phone-screen) {
      margin-top: 80px;
    }
  }

  &__help {
    @include WidthLimit;
    margin-top: 80px;
    @include for-size(big-phone-screen) {
      margin-top: 40px;
    }
  }

  &__helpful-creaty,
  &__become-mentor,
  &__how-it-works,
  &__faq {
    @include WidthLimit;
    margin-top: 240px;
    @include for-size(big-phone-screen) {
      margin-top: 96px;
    }
  }

  &__faq {
    display: grid;
    @include row-gap(56px);
    @include for-size(big-phone-screen) {
      @include row-gap(32px);
    }
  }

  &__have-questions {
    @include WidthLimit;
    margin-top: 80px;
    @include for-size(big-phone-screen) {
      margin-top: 40px;
    }
  }

  &__mailing-subscribe {
    @include WidthLimit;

    margin-top: 170px;
    @include for-size(big-phone-screen) {
      margin-top: 80px;
    }
  }
}
