// For more colors use https://coolors.co/
$color-white: white;
$color-gray: gray;

$color-black-100: #070707;
$color-black-main: #{$color-black-100};

$color-gray-10: #F3F6FB;
// $color-gray-20: #F3F6FB;
$color-gray-30: #EEF2F7;

$color-green: #4DF971;
