/*
$font_size_dell-hd-screen: 14px;
$font_size_middle-phone-screen: 12px;

$font_size_q-hd-screen: math.round(math.div($font_size_dell-hd-screen*$q-hd-screen, $dell-hd-screen));
$font_size_high-hd-screen: math.round(math.div($font_size_dell-hd-screen*$high-hd-screen, $dell-hd-screen));
$font_size_full-hd-screen: math.round(math.div($font_size_dell-hd-screen*$full-hd-screen, $dell-hd-screen));
$font_size_mac-hd-screen: math.round(math.div($font_size_dell-hd-screen*$mac-hd-screen, $dell-hd-screen));
$font_size_ready-hd-screen: math.round(math.div($font_size_dell-hd-screen*$ready-hd-screen, $dell-hd-screen));

$font_size_big-tablet-screen: math.round(math.div($font_size_dell-hd-screen*$big-tablet-screen, $dell-hd-screen));
$font_size_middle-tablet-screen: math.round(math.div($font_size_dell-hd-screen*$middle-tablet-screen, $dell-hd-screen));
$font_size_small-tablet-screen: math.round(math.div($font_size_dell-hd-screen*$small-tablet-screen, $dell-hd-screen));

$font_size_big-phone-screen: math.round(math.div($font_size_middle-phone-screen*$big-phone-screen, $middle-phone-screen));
$font_size_small-phone-screen: math.round(math.div($font_size_middle-phone-screen*$small-phone-screen, $middle-phone-screen));
*/

@mixin FontFamily($family: "Google Sans") {
    font-family: $family;
}

@mixin FontSize($size, $height: $size) {
    line-height: $height;
    font-size: $size;
}

@mixin FontDecoration($weight: 400, $style: normal) {
    font-weight: $weight;
    font-style: $style;
}

/* Real fonts */
// H1
@mixin H1($size: 72px, $height: null, $weight: 400, $style: normal) {
    @if $height == null { $height: $size }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin H1Bold($size: 72px, $height: null) { @include H1($size, $height, 700) }

// H2
@mixin H2($size: 56px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.14;
    }

    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin H2Bold($size: 56px, $height: null) { @include H2($size, $height, 700) }

// H3
@mixin H3($size: 32px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.25;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin H3Bold($size: 32px, $height: null) { @include H3($size, $height, 700) } 
@mixin H3Regular($size: 32px, $height: null) { @include H3($size, $height, 400) } 

// H4
@mixin H4($size: 24px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.33;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin H4Bold($size: 24px, $height: null) { @include H4($size, $height, 700) }
@mixin H4Medium($size: 24px, $height: null) { @include H4($size, $height, 500) }
@mixin H4Regular($size: 24px, $height: null) { @include H4($size, $height, 400) }

// Text
@mixin Text($size: 18px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.33;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin TextBold($size: 18px, $height: null) { @include Text($size, $height, 700) }
@mixin TextMedium($size: 18px, $height: null) { @include Text($size, $height, 500) }
@mixin TextRegular($size: 18px, $height: null) { @include Text($size, $height, 400) }

// Text 2
@mixin Text2($size: 16px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.5;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin Text2Bold($size: 16px, $height: null) { @include Text2($size, $height, 700) }
@mixin Text2Medium($size: 16px, $height: null) { @include Text2($size, $height, 500) }
@mixin Text2Regular($size: 16px, $height: null) { @include Text2($size, $height, 400) }

// Tags
@mixin Tags($size: 14px, $height: null, $weight: 400, $style: normal) {
    @if $height ==  null {
        $height: $size * 1.14;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
}
@mixin TagsRegular($size: 14px, $height: null) { @include Tags($size, $height, 400) }

// Caption
@mixin Caption($size: 12px, $height: null, $weight: 400, $style: normal) {
    @if $height == null {
        $height: $size * 1.33;
    }
    @include FontFamily;
    @include FontSize($size, $height);
    @include FontDecoration($weight, $style);
    
    letter-spacing: 0.02em;
}
@mixin CaptionRegular($size: 12px, $height: null) { @include Caption($size, $height, 400) }
