/* Old Mixins. Need to be deprecated */
/* Layout */

@mixin WidthLimit {
	max-width: 1180px;
	margin: 0 auto;
}

@mixin Link {
	text-decoration: underline;

	&:active {
		text-decoration: none;
	}
}

/* Font */

@mixin Font($size: null, $weight: null, $line-height: 1.35) {
	font: {
		size: $size;
		weight: $weight;
	}

	line-height: $line-height;
	white-space: pre-line;
}

@mixin Typography($size, $weight: null, $emphasizeColor: $color-green) {
	font-size: $size;
	font-weight: $weight;
	white-space: pre-line;
	line-height: 1.25;

	@if $emphasizeColor !=null {
		em {
			color: $emphasizeColor;
		}
	}

	@include Mobile() {
		white-space: normal;

		br {
			display: none;
		}
	}
}

/* Adaptive */

$mobileMaxWidth: 450px;
$tabletMaxWidth: 1000px;

@mixin Mobile {
	@media screen and (max-width: $mobileMaxWidth) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: $tabletMaxWidth) {
		@content;
	}
}

/* Scrollbar */

@mixin Scrollbar($width: 1em, $thumbColor: rebeccapurple, $trackColor: white) {

	/* Firefox */
	& {
		scrollbar-width: thin;
		scrollbar-color: $thumbColor $trackColor;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		background: $trackColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumbColor;
		border-radius: 0.5em;
		border: 3px solid $trackColor;
	}
}

/* New mixins */
/*
$q-hd-screen: 3451px;
$high-hd-screen: 2561px;
$full-hd-screen: 1930px; use this one
$dell-hd-screen: 1660px;  use this one
$mac-hd-screen: 1450px;  use this one
$hd-screen: 1290px;  use this one

$big-tablet-screen: 1030px; use this one
$middle-tablet-screen: 850px; use this one
$small-tablet-screen: 780px; use this one

$big-phone-screen: 415px; use this one
$middle-phone-screen: 376px; use this one
$small-phone-screen: 321px; use this one
*/

@mixin for-size($size) {
	@if $size ==full-hd-screen {
		@media screen and (max-width: $full-hd-screen) {
			@content;
		}
	}

	@else if $size ==dell-hd-screen {
		@media screen and (max-width: $dell-hd-screen) {
			@content;
		}
	}

	@else if $size ==mac-hd-screen {
		@media screen and (max-width: $mac-hd-screen) {
			@content;
		}
	}

	@else if $size ==hd-screen {
		@media screen and (max-width: $hd-screen) {
			@content;
		}
	}

	@else if $size ==big-tablet-screen {
		@media screen and (max-width: $big-tablet-screen) {
			@content;
		}
	}

	@else if $size ==middle-tablet-screen {
		@media screen and (max-width: $middle-tablet-screen) {
			@content;
		}
	}

	@else if $size ==small-tablet-screen {
		@media screen and (max-width: $small-tablet-screen) {
			@content;
		}
	}

	@else if $size ==big-phone-screen {
		@media screen and (max-width: $big-phone-screen) {
			@content;
		}
	}

	@else if $size ==middle-phone-screen {
		@media screen and (max-width: $middle-phone-screen) {
			@content;
		}
	}

	@else if $size ==small-phone-screen {
		@media screen and (max-width: $small-phone-screen) {
			@content;
		}
	}
}
