/* Layout */

@mixin WidthLimit {
	max-width: 1180px;
	margin: 0 auto;
}

/* Font */

@mixin Font($size: null, $weight: null, $line-height: null) {
	font: {
		size: $size;
		weight: $weight;
	}

	line-height: $line-height;
}

/* Adaptive */

@mixin Mobile {
	@media screen and (max-width: #{$width-sm}) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: #{$width-md}) {
		@content;
	}
}

/* Scrollbar */

@mixin Scrollbar($width: 1em, $thumbColor: rebeccapurple, $trackColor: white) {

	/* Firefox */
	& {
		scrollbar-width: thin;
		scrollbar-color: $thumbColor $trackColor;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-track {
		background: $trackColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumbColor;
		border-radius: 0.5em;
		border: 3px solid $trackColor;
	}
}
