// gap utility for backward compatibility (Safari) 
@mixin gap($gap) {
	@supports (gap: $gap) {
		gap: $gap;
	}

	@supports not (gap: $gap) {
		&>*:not(:first-child) {
			margin: $gap;
		}
	}
}

// row-gap utility for backward compatibility (Safari) 
@mixin row-gap($gap) {
	@supports (row-gap: $gap) {
		row-gap: $gap;
	}

	@supports not (row-gap: $gap) {
		&>*:not(:first-child) {
			margin-left: $gap;
		}
	}
}
