$q-hd-screen: 3451px;
$high-hd-screen: 2561px;
$full-hd-screen: 1930px;
$dell-hd-screen: 1660px;
$mac-hd-screen: 1450px;
$ready-hd-screen: 1290px;

$big-tablet-screen: 1030px;
$middle-tablet-screen: 850px;
$small-tablet-screen: 780px;

$big-phone-screen: 415px;
$middle-phone-screen: 376px;
$small-phone-screen: 321px;
