@import "bundle";

/* App Headings */

@mixin heading($size, $weight, $emphasizeColor: $color-green) {
	font-size: $size;
	font-weight: $weight;
	white-space: pre-line;
	line-height: 1.25;

	em {
		color: $color-green;
	}
}

h1.heading {
	@include heading(4.5rem, 700);
}

h2.heading {
	@include heading(2rem, 700);
}

h3.heading {
	@include heading(1.125rem, 400, $color-gray-text);
}

/* ---- */

.icon {
	$size: var(--icon-size, 1em);

	display: inline-block;
	width: $size;
	height: $size;
	vertical-align: middle;
	object-fit: contain;
}

/* Header */

header {
	padding: 0.75em;
	border-bottom: 1px solid rgba($color: $color-gray-10, $alpha: 0.1);
}

.topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include WidthLimit;
}

.topbar__logo {
	height: 2.5em;
}

.topbar__right {
	display: flex;
	align-items: center;
	gap: 1.5em;
}

.topbar-menu {
	display: flex;
	gap: 3em;
}


/* Main */

main {
	margin-top: 10em;
}
