@import "bundle";
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

* {
	box-sizing: border-box;
	position: relative;
	
	padding: 0;
	margin: 0;
}

body {
	font: 16px/1 "Google Sans", Arial, sans-serif;
	color: $color-white;

	background: $color-black-main;
	margin: 0;

  @include ScrollbarHidden;
}

em {
	font-style: unset;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&.ghost {
		position: absolute;
		inset: 0;
	}
}

button {
	cursor: pointer;
}

ul {
	display: grid;
	@include row-gap(8px);
	margin: unset;
	padding-left: 20px;
}


@keyframes flick {
	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* Headings */

/*
h1,
h2,
h3,
h4,
h5 {
	margin: unset;
	white-space: pre-line;
}
*/

/*
h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

h3 {
	font-size: 1.125rem;
	font-weight: 600;
}

h4,
h5 {
	font-size: 1rem;
	font-weight: 600;
}
*/

/* Text */
/*
p {
	line-height: 1.25;
	white-space: pre-line;
	margin: unset;
}
*/



/* Anchor */

/* UX */


/*
input.cc-base,
button.cc-base,
textarea.cc-base {
	all: unset;

	position: relative;
	cursor: initial;
	outline: initial;
}

textarea {
	white-space: pre-wrap;
	line-height: 1.25;
	overflow-wrap: break-word;
}
*/