@import "bundle";

* {
	position: relative;
	box-sizing: border-box;
	
	// remove all default margins and paddings
	padding: 0;
	margin: 0;
}

body {
	font: 16px/1 "Google Sans", Arial, sans-serif;
	color: $color-white;

	margin: unset;
	background: $color-black-main;
}

/* Headings */

h1,
h2,
h3,
h4,
h5 {
	margin: unset;
	white-space: pre-line;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

h3 {
	font-size: 1.125rem;
	font-weight: 600;
}

h4,
h5 {
	font-size: 1rem;
	font-weight: 600;
}

/* Text */
p {
	line-height: 1.25;
	white-space: pre-line;
	margin: unset;
}

em {
	font-style: unset;
}

/* Anchor */

a {
	color: inherit;
	// text-decoration: none;
	cursor: pointer;

	&.ghost {
		position: absolute;
		inset: 0;
	}
}

/* UX */

input,
button,
textarea {
	all: unset;

	position: relative;
	cursor: initial;
	outline: initial;
}

button {
	cursor: pointer;
}

textarea {
	white-space: pre-wrap;
	line-height: 1.25;
	overflow-wrap: break-word;
}

ul {
	display: grid;
	@include row-gap(0.5em);
	margin: unset;
	padding-left: 1.25em;
}

/* Keyframes */

@keyframes flick {
	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}