@import "/src/app/scss/bundle.scss";

.how-it-works {
  display: grid;
  @include row-gap(56px);

  @include for-size(big-phone-screen) {
    @include row-gap(32px);
  }
}

.how-it-works__title {
  @include H2Bold;
  @include for-size(big-phone-screen) {
    @include H2Bold(32px);
  }
}

.how-it-works__points {
  display: flex;
  flex-wrap: wrap;
  @include gap(74px);

  @include for-size(big-phone-screen) {
    display: grid;
    @include gap(32px);
  }
}

.how-it-works__help {
  padding-top: 24px;
  @include for-size(big-phone-screen) {
    padding-top: 28px;
  }
}

.how-it-works__button {
  width: 100%;
}

.how-it-works__free {
  @include gap(150px);
  @include for-size(big-phone-screen) {
    @include gap(32px);
  }
}
