@import "/src/app/scss/bundle.scss";

$indent: 1.5em;

.helpful-creaty {
  display: flex;
  @include gap($indent);

  & > * {
    flex: 1;
  }

  @include Tablet {
    display: grid;
  }
}

.helpful-creaty__title {
  @include H2Bold;
  padding-bottom: 36px;

  @include for-size(big-phone) {
    @include H2Bold(32px);
    padding-bottom: 12px;
  }

  word-break: break-word;
}

.helpful-creaty__button {
  height: 100%;
  border-radius: 40px;

  @include Mobile {
    width: 100%;
    padding: 62px 0;
  }
}

.helpful-creaty__group {
  display: flex;
  flex-direction: column;

  @include gap(20px);
}

/* Block */

.helpful-creaty-block {
  display: grid;
  align-content: baseline;
  @include row-gap(24px);

  padding: 64px;
  background: $color-white;
  border-radius: 40px;

  @include for-size(big-phone) {
    @include row-gap(16px);
    padding: 36px 36px 48px;
  }
}

.helpful-creaty-block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include gap(40px);

  @include for-size(big-phone) {
    flex-direction: column-reverse;
    align-items: flex-start;
    @include gap(24px);
  }
}

.helpful-creaty-block__title {
  color: $color-black-main;

  @include H3Bold;
  @include for-size(big-phone) {
    @include H3Bold(24px);
  }

  word-break: break-word;
}

.helpful-creaty-block__circle {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 80px;

  background: $color-black-main;
  border-radius: 50%;

  flex-shrink: 0;

  @include for-size(big-phone) {
    height: 64px;
    width: 64px;
  }
}

.helpful-creaty-block__flag {
  position: relative;

  height: 58%;
  width: auto;
}

.helpful-creaty-block__content {
  color: $color-gray-80;
  @include TextRegular;
  @include for-size(big-phone) {
    @include Text2Regular;
  }

  & > ul {
    padding-left: 27px;
    @include gap(0);
    list-style-type: disc;
  }
}
