@import "~app/assets/scss/bundle.scss";

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 0.5em;

	padding: 0.75em;
	background: currentColor;
	border: 2px solid transparent;
	border-radius: 1.5em;

	color: transparent;

	&:active {
		opacity: 0.7;
	}

	&:hover:not(&--outline) {
		background-image: linear-gradient(0deg, rgba($color-white, 0.1), rgba($color-white, 0.1));
	}

	&:disabled {
		cursor: wait;
	}

	&--small {
		padding: 0.875em 0.75em;
	}

	&--big {
		padding: 1.125em 1.5em;

		.button__text {
			font-size: 1.125rem;
		}
	}

	&--outline {
		color: rgba($color-gray-10, 0.1);

		background: unset;
		border: 2px solid currentColor;
		transition: 200ms ease box-shadow;

		&:hover,
		&:active {
			box-shadow: inset 0 0 0 2px currentColor;
		}
	}

	&--green {
		color: $color-green;
	}

	&--green:not(&--outline) {
		.button__text {
			color: $color-black-main;
			font-weight: 600;
		}
	}

	&--violet {
		color: $color-violet;
	}

	&--white {
		color: $color-gray-10;

		&:hover {
			color: $color-white;
		}

		.button__text {
			color: $color-black-main;
			font-weight: 600;
		}
	}

	&--dark {
		color: $color-black-main;
	}
}

.button__text {
	color: white;
}
