@import "~app/assets/scss/bundle.scss";

.mailing-subscribe {
	display: grid;
	@include row-gap(1.5em);
}

.mailing-subscribe__arrow {
	width: 100%;
	margin: 0 auto;
}

.mailing-subscribe__form {
	max-width: 57%;
	margin-left: auto;

	@include Mobile {
		max-width: initial;
	}
}
