@import "~app/assets/scss/bundle.scss";

.mentors-slider {
	display: grid;
	
	@include row-gap(40px);
	@include for-size(big-phone-screen) {
		@include row-gap(32px);
	}
}

.mentors-slider__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 100%;
	@include WidthLimit;
}

.mentors-slider__buttons {
	display: flex;
	@include gap(0.75em);

	@include Mobile {
		display: none;
	}
}

.mentors-slider__button {
	padding: 1.125em;
	border: 2px solid rgba($color-gray-10, 0.1);
	border-radius: 1.5em;
	transition: 200ms ease border-color;

	&:hover,
	&:active {
		border-color: white;
	}
}

.mentors-slider__icon {}

.mentors-slider__container {
	width: 100%;
	padding: 1.25em 0;
	overflow: hidden;

	@include Mobile {
		width: 100vw;
		margin: -5vw;
	}
}

.mentors-slider__inner {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 23.75em;
	@include gap(1.25em);
	
	padding: 0 2.5em;
	
	overflow: hidden;
	
	@include for-size(big-phone-screen) {
		grid-auto-columns: 90vw;
		@include gap(3.33vw);
		overflow: auto;

		padding: 0;
	} 
}

.mentors-slider__help {
	display: flex;
	align-items: center;
	@include gap(16px);
	
	@include WidthLimit;
	
	span {
		@include TextRegular;
	}
	
	@include for-size(big-phone-screen) {
		width: 100%;
		
		display: grid;
		@include gap(8px);

		text-align: center;
	}
}