@import "/src/app/scss/bundle.scss";

.email-verify {
  &__discount-description {
    @include H4Regular();
    color: $color-gray-60;
    em {
      color: $color-white;
    }
  }
  &__footer {
    color: $color-gray-80;
    @include TagsRegular();
  }
  &__title {
    color: $color-white;
    margin-bottom: 24px;
    
    em {
      color: $color-green;
    }
  }
  &__button {
    margin-bottom: 16px;
  }
}
