.popup-admin-personal-page {
    display: grid;
    grid-gap: 1em;
    color: black;

    &__controll {
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-gap: 1em;
    }

    &__list {
        &_changed {
            padding-bottom: 1em;
            border-bottom: 2px dashed rgba(0,0,0,0.3);
        }
    }

    &__title {
        &_changed {
            font-size: 1em;
            font-weight: 500;
            padding-bottom: 1em;
            text-decoration: underline;
        }
    }
}