@import "~app/assets/scss/bundle.scss";

.subscribe {
	display: grid;
	row-gap: 0.5em;
}

.subscribe__header {
	display: flex;
	align-items: flex-end;
	gap: 1em;
}

.subscribe__field {
	flex: 1;

	padding-bottom: 1em;
	border-bottom: 1px solid $color-gray-10;
	border-radius: 1px;
	transition: 200ms ease border-color;

	&--red {
		border-color: $color-red;
	}

	&--dark {
		border-color: rgba($color-gray-10, 0.1);
	}

	em {
		color: $color-green;
	}
}

.subscribe__input {
	width: 100%;
	color: $color-white;

	&::placeholder {
		color: $color-white;
		transition: 200ms ease color;
	}

	&:focus::placeholder {
		color: rgba($color-gray-10, 0.1);
	}
}

.subscribe__text {
	color: $color-gray-80;
	font-size: 0.75rem;
	line-height: 1.35;

	@include Mobile {
		text-align: center;
	}
}
