@import "/src/app/scss/bundle.scss";

.faq {
  display: grid;
  @include row-gap(8px);
}

.faq__clause {
  display: grid;
  background: $color-black-90;
  border-radius: 50px;
  transition: 300ms ease background-color;

  &--expanded {
    background: $color-gray-100;

    .faq__content {
      height: var(--height, 100%);
    }

    .faq__summary {
      padding-bottom: 16px;

      .button .button__icon .icon {
        transform: rotateX(180deg);
      }
    }
  }

  @include for-size(big-phone) {
    border-radius: 40px;
  }
}

.faq__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 40px 40px 64px;
  transition: 200ms ease padding;

  cursor: pointer;

  @include for-size(big-phone) {
    padding: 36px;
  }
}

.faq__button {
  min-width: 40px;
}

.faq__title {
  @include H4Regular;
  @include for-size(big-phone) {
    @include H4Regular(20px);
  }
}

.faq__content {
  height: 0;
  overflow: hidden;
  transition: 200ms ease height;
}

.faq__inner {
  padding: 0 40px 40px 64px;
  @include for-size(big-phone) {
    padding: 0 36px 36px;
  }
}

.faq__text {
  color: $color-gray-50;
  @include TextRegular;

  *:last-child {
    padding-bottom: 0;
  }

  p {
    text-indent: 15px;
  }

  ul {
    @include gap(0.5em);
    list-style: disc;
    padding-left: 27px;
  }
}
