@import "~app/assets/scss/bundle.scss";

$indent: 1.5em;

.helpful-creaty {
	display: flex;
	@include gap($indent);

	&>* {
		flex: 1;
	}

	@include Tablet {
		display: grid;
	}
}

.helpful-creaty__title {
	margin-bottom: 0.5em;
}

.helpful-creaty__button {
	height: 100%;
	border-radius: 2.5em;

	@include Mobile {
		padding: 3.5em;
	}
}

.helpful-creaty__group {
	display: flex;
	flex-direction: column;
	@include gap($indent);
}

/* Block */

.helpful-creaty-block {
	display: grid;
	align-content: baseline;
	@include row-gap(1em);

	padding: 4em;
	background: $color-white;
	border-radius: 2.5em;

	@include Mobile {
		padding: 2em;
	}
}

.helpful-creaty-block__header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include gap(1em);

	@include Mobile {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

.helpful-creaty-block__title {
	color: $color-black-main;

	font-size: 2rem;
	font-weight: 700;
	line-height: 1.25;
}

.helpful-creaty-block__circle {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 5em;
	height: 5em;

	background: $color-black-main;
	border-radius: 50%;

	flex-shrink: 0;
}

.helpful-creaty-block__flag {
	position: absolute;
}

.helpful-creaty-block__content {
	color: $color-gray-80;

	font-size: 1.125rem;
	line-height: 1.25;
}
