@import "/src/app/scss/bundle.scss";

.search {
  &__wrapper {
    display: grid;
    justify-self: center;
    grid-template: 56px / minmax(250px, 570px) 180px;
    @include gap(12px);
    padding: 32px;
    border-radius: 50px;
    background: $color-black-90;

    &--isMentorPage {
      grid-template: 56px / 1fr 180px;
      width: 100%;
    }

    @include for-size(phone-horizontal) {
      grid-template-columns: 1fr;
      justify-self: auto;
    }

    @include for-size(big-phone) {
      padding: 8px;
    }
    &.backdrop {
      z-index: 1000;
    }
  }

  .ant-select-clear {
    right: 30px;
    opacity: 1;
  }

  &.mobile {
    width: 100%;
  }

  &.ant-select {
    height: 56px;

    .ant-select-selector {
      padding: var(--ant-select-padding);
      border-radius: 20px;
      border: none !important;
      outline: none !important;
      caret-color: $color-black-main;

      &:hover,
      &:focus-within {
        outline: 3px solid (#{$color-green}80) !important;
        transition: outline 0.2s linear !important;
      }
      .ant-select-selection-placeholder {
        padding: var(--ant-select-padding);
        color: $color-gray-80;
        &:focus-within {
          color: $color-gray-50;
        }
      }
    }
    input {
      height: 56px !important;
      box-shadow: none !important;
    }
  }

  &__popup {
    padding: 16px;
    outline: 3px solid (#{$color-green}80) !important;
    border-radius: 24px;

    .rc-virtual-list-holder-inner {
      margin-top: -30px;
    }

    .ant-select-item {
      &-group {
        color: $color-gray-80 !important;
        padding: 0 16px;
        min-height: 16px;
        margin-bottom: 8px;
        margin-top: 30px;

        &:nth-child(n + 2) {
          &::before {
            content: "";
            position: absolute;
            left: 15px;
            top: -15px;
            right: 15px;
            height: 1px;
            width: calc(100% - 32px);
            background-color: $color-gray-40;
          }
        }
      }

      &-option {
        padding: 8px 16px;
        border-radius: 12px !important;

        &-selected {
          background-color: $color-gray-100 !important;

          & .search__option-tag {
            color: white;
          }

          &[icon] {
            background-color: $color-gray-30 !important;
          }
        }
        &-content {
          line-height: 16px;
          &[icon] {
            line-height: 24px;
          }
        }
      }
      .anticon.anticon-check {
        display: none;
      }
    }
  }

  &__option {
    &-category {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: 500 !important;
      &-icon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
      }
    }
    &-tag {
      color: $color-black-main;
      font-weight: 400 !important;
      &-hash {
        color: $color-gray-70;
      }
    }
  }

  &__not-found {
    color: $color-black-main !important;
  }

  &__button {
    height: 100%;
  }

  .ant-select-arrow {
    left: 20px !important;
    opacity: 1 !important;
  }

  .ant-select-arrow {
    pointer-events: auto !important;
    user-select: auto !important;
  }
}
