@import "~app/assets/scss/bundle.scss";

.packages-edit {
	display: grid;
	gap: 2em;
}

.packages-edit__pack {
	display: grid;
	gap: 1em;
}

.packages-edit__header {
	display: flex;
	align-items: center;
	gap: 1em;
}

.packages-edit__title {
	font-size: 1.5rem;
}

.packages-edit__label {
	display: flex;
	align-items: center;
	gap: 1em;
}
