@import "/src/app/scss/bundle.scss";

.user {
  display: flex;
  flex-direction: row-reverse;
  @include gap(20px);

  @include WidthLimit;
  margin-top: 120px;

  @include Tablet {
    display: grid;
    justify-items: center;
  }

  /* Section */
  &__sections {
    display: grid;
    align-content: baseline;
    @include row-gap(1.5em);
    flex: 1;
  }
}

/* Card */

.user-card {
  display: grid;
  align-content: baseline;
  @include row-gap(2em);

  width: min(100%, 23.75em);
}

.user-card__button {
  border-radius: inherit;
}

.user-card__text {
  color: $color-gray-80;
  font-size: 0.75rem;
  text-align: center;
}

.user-card__notice {
  max-width: 18ch;
  margin: 0 auto;

  text-align: center;
  @include Typography(1.5rem, 400, $color-green);

  & > em {
    font-weight: 700;
  }
}

/* Section */

.user-section {
  display: flex;
  @include gap(2.5em);

  padding: 40px 64px;
  background: white;
  border-radius: 32px;

  &--1 {
    .user-section__title {
      color: $color-black-main;
    }

    .user-section__content {
      color: $color-gray-80;
    }
  }

  &--2 {
    background: $color-violet;
  }

  &--3 {
    background: #070707;
    box-shadow: 0px 2px 8px rgba($color-green, 0.1),
      0px 8px 80px rgba($color-green, 0.4);

    .user-section__title {
      margin-bottom: 32px;
    }
  }

  @include Mobile {
    @include gap(1em);
    padding: 2em;
  }
}

.user-section__container {
}

.user-section__title {
  margin-bottom: 0.5em;
}

.user-section__content {
  p {
    margin: 1em 0;
    // @include Typography(1.125rem, null, null);

    em {
      font-weight: bold;
    }

    a {
      color: $color-violet;
    }
  }
}

.user-section__tags {
  display: flex;
  flex-wrap: wrap;
  @include gap(0.5em);
}

.user-section__rows {
  display: grid;
  @include row-gap(0.75em);
  margin-top: 1.5em;
}

.user-section__entry {
  display: flex;
  align-items: center;
  @include gap(0.5em);

  margin: 0.5em 0;
  color: $color-gray-50;
  & em {
    color: white;
  }
  // @include Typography(1.125rem, null, $color-white);

  @include Mobile {
    align-items: flex-start;

    span {
      display: grid;
    }
  }
}

.user-section__icon {
  --icon-size: 2em;
  flex-shrink: 0;

  @include Mobile {
    --icon-size: 1.25em;
  }
}

.packages {
  box-shadow: 0px 2px 8px rgba(147, 78, 255, 0.1),
    0px 8px 30px rgba(159, 97, 255, 0.3), 0px 8px 200px rgba(102, 16, 235, 0.7);

  em {
    color: $color-violet;
  }
}
