@import "~app/assets/scss/bundle.scss";

.drop-down {
	position: absolute;
	right: 0;

	display: grid;

	padding: 1em;
	min-width: 15em;
	background: white;
	border-radius: 1.5em;
	transform: translateY(0.75em);
	transition: 200ms ease opacity, 200ms ease transform;
	z-index: 1;

	&:not(&--expanded) {
		opacity: 0;
		pointer-events: none;
		transform: translateY(0em);
	}
}

.drop-down__option {
	padding: 0.75em 1em;
	border-radius: 1em;
	color: $color-black-main;
	transition: 200ms ease color, 100ms ease font, 200ms ease background-color;
	cursor: pointer;

	&:hover {
		background: $color-gray-30;
	}

	&--selected {
		background: $color-gray-30;
		font-weight: 700;
	}
}
