@import "~app/assets/scss/bundle.scss";

.big-comment {
	display: grid;
	justify-items: center;
	@include row-gap(1.25em);

	padding: 5em 7.5em 3.5em;
	background: $color-black-90;
	box-shadow: 0px 2px 8px rgba($color-green, 0.1), 0px 8px 30px rgba($color-green, 0.2), 0px 8px 200px rgba($color-green, 0.4);
	border-radius: 4.25em;

	@include for-size(big-phone-screen) {
		padding: 48px 36px 36px;
	}
}

.big-comment__text {
	text-align: center;

	@include TextRegular();
	@include for-size(big-phone-screen) {
		@include Text2Regular();
	}

	& span {
		@include TextBold();
		@include for-size(big-phone-screen) {
			@include Text2Bold();
		}
	}

	& > p {
		// temporary fix before deleter @Typography and @Font
		line-height: inherit;
		margin: 0;
	}
}

.big-comment__icon {
	--icon-size: 2.25em;
}
