@import "~app/assets/scss/bundle.scss";

.topic-tag {
	padding: 0.5em 1em;
	background: $color-gray-100;
	border-radius: 0.75em;

	color: $color-white;
	white-space: nowrap;
	transition: 200ms ease background-color;
	cursor: pointer;

	&:hover,
	&:disabled {
		background: $color-gray-90;
	}

	&::before {
		content: "#";
		color: $color-gray-50;
	}
}
