@import "/src/app/scss/bundle.scss";

.mentors-slider {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include for-size(big-phone) {
    gap: 32px;
  }

  &__container {
    height: 620px;
    width: 100vw;
    overflow: hidden;
  }

  &__heading {
    @include H3Bold();

    & > em {
      color: $color-green;
    }
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;
    @include WidthLimit;
  }

  &__buttons {
    display: flex;
    @include gap(0.75em);

    @include Mobile {
      display: none;
    }
  }

  &__button {
    padding: 1.125em;
    border: 2px solid rgba($color-gray-10, 0.1);
    border-radius: 1.5em;
    transition: 200ms ease border-color;

    &:hover,
    &:active {
      border-color: white;
    }
  }

  &__help {
    display: flex;
    align-items: center;
    @include gap(16px);

    @include WidthLimit;

    span {
      @include TextRegular;
    }

    @include for-size(big-phone) {
      width: 100%;

      display: grid;
      @include gap(8px);

      text-align: center;
    }
  }
}
