@import "/src/app/scss/bundle.scss";

.contact-form {
  display: grid;
}

.contact-form__inputs {
  display: grid;
  @include row-gap(24px);
  z-index: 2;

  @include for-size(big-phone-screen) {
    & > .input:last-child {
      margin-bottom: 35px;
    }
  }
}

.contact-form__submit {
  margin-top: 56px;
  @include for-size(big-phone-screen) {
    margin-top: 32px;
  }
}

.contact-form__terms {
  margin-top: 16px;

  color: $color-gray-80;
  @include Tags(12px);

  @include for-size(big-phone-screen) {
    text-align: center;
  }
}

.contact-form__content {
  color: $color-black-main;
  font-size: 1.25rem;

  margin-bottom: 1em;

  em {
    color: $color-violet;
  }

  h3,
  h4,
  h5 {
    margin-block: 0.75em;
  }

  p,
  ul,
  em,
  a {
    margin-block: 0.75em;
  }
}
