@import "/src/app/scss/bundle.scss";

.formus {
  &__agreement {
    letter-spacing: 0.02em;
    @include Tags;
  }

  &__notifies {
    color: $color-white;
    border-radius: 16px;
    background-color: $color-black-main;
    box-shadow: 0px 10px 20px 0px $color-gray-70;
    opacity: 0.9;
  }

  &__notify {
    @include Text2Regular();
  }

  &__notifies-title {
    @include Text2Medium();
  }
}

.form {
  color: $color-black-90;

  &__agreement {
    line-height: 1;
    letter-spacing: 0.02em;
    @include Tags;
  }

  &__confirmation {
    @include H3Regular();
    color: $color-black-90;
  }

  &__suggestion {
    @include TagsRegular;
  }

  &__redirection {
    cursor: pointer;
    color: $color-violet;
  }
}
